.image {
    border-radius: 100%;
    width: 30vh;
    margin: 5px;
    border: 1px solid black;
}

.card {
    border-radius: 20px;
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    text-align: left;
    width: 100vh;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.50);
}