.image {
    border-radius: 100%;
    width: 30vh;
    margin: 5px;
    border: 1px solid black;
}

.card {
    display: inline-block;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 20vh;
    padding: 10px;
    text-align: left;
    width: 60vw;
    background-color: white;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.50);
}